# Define default landing page. Can be "introduction" or "feature_selection"
WILSON_LANDING_PAGE={{ "WILSON_LANDING_PAGE"|env("introduction") }}

# Define width of the side panel
WILSON_SIDEPANELWIDTH={{ "WILSON_SIDEPANELWIDTH"|env("2") }}

# Define with of the main panel
WILSON_MAINPANELWIDTH={{ "WILSON_MAINPANELWIDTH"|env("10") }}
